*{
    margin: 0px;
    padding: 0px;
}

#mainsection{
    width: 100%;
    height: 100vh;
    position: relative;
   
}
/* --------------------------------------------------Nav Bar-------------------------------------------------------------- */
.navbar{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 170px;
    width: 100%;
    position: fixed;
  
}

nav ul li {
    display: inline;
    list-style-type: none;
    margin-top: 10px;
}

nav ul li a {
    text-decoration: none;
    padding: 40px;
    font-size: 25px;
    /* font-weight: bold; */
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul li a:hover{
    color: ghostwhite;
    transition: 1.5s;
}

/* --------------------------------------------------------Home section------------------------------------------------------------------ */

#logo{
    text-align: center;
    padding:100px;
    margin-bottom: 60px;
    gap: 0;
    
}
.home{
    width: 100%;
    background-color: black;
    height: 700px;
}
.mainhome{
    position: sticky;
}
#coffee{
   
    /* margin-bottom: 60px; */
    gap: 0;

}


.home_content {
    background-image: url("https://static.wixstatic.com/media/cd8349_a3bbd1bbd8464f2888179c26202b2112~mv2.jpg/v1/fill/w_1864,h_913,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/cd8349_a3bbd1bbd8464f2888179c26202b2112~mv2.jpg"); 
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1.2;
    width: 100%;
    height: 100vh; 
    /* transform: scale(1.05);
    transition: 1s; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    font-size: 18px;
    font-weight: bold;
    text-align: center; */
} 


.paragraph{
    width: 100%;
    height: 400px;
    background-color: black;
    color: ghostwhite;
    gap: 0;
    /* margin-bottom: 60px; */
    margin-top: 5px;
 
  padding-top: 50px;
}

p{
    text-align: center;
    line-height: 2;
    font-size: 20px;
}

.coffeebean{
    background-image: url(./images/coffeebeans.avif) ;width: 100%; height: 700px; right:300px;
}
.content{
    height: 300px;
    width: 600px;
float: right;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 50px;
    font-size: 15px;
    margin-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

.content p{
line-height: 2;
justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align:justify ;
    margin-left: 30px;
    font-family: "Lexend", serif;
    font-weight: 300;
}
#para
{
    height: 100px;
    width: 1200px;
    align-items: center;
    padding: 50px;

}

#para p{
    font-size: 17px;
    font-weight: 300;
    justify-content: center;
    text-align: justify;
    font-family: "IBM Plex Mono", serif;

}

.burgerhead{
    text-align: center;
    padding: 30px;

}
.burger{
width: 100%;
height: 700px;
background-color: black;
color: ghostwhite;
gap: 0;
/* margin-bottom: 60px; */
margin-top: 5px;

padding-top: 50px;
}
.burgerimage{
    align-items: center;
   margin-left: 400px;
}

.content2{


width: 100%;
height: 500px;
background-color: black;
color: ghostwhite;
gap: 0;
}
.content2 h1{
    padding-top:40px;
}

#footercontent{
    width: 100%;
height: 500px;
background-color: black;
color: ghostwhite;
font-family: "IBM Plex Mono", serif;
gap: 0;
}
#footercontent h1{
    padding-top: 40px;
}
#address p {
    align-items: center;
    padding-top: 40px;

}
#address a{
    align-items: center;
}

#icons{
    width: 100%;
   display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.brand{
    
    align-items: center;
    text-decoration: none;
    color: ghostwhite;
    font-size: 30px;
    margin-left: 40px;
   
}
#imagess{
margin-top: 40px;

}

#final{
    width: 100%;
    height: 400px;
    background-color: black;
    color: ghostwhite;
    gap: 0;
}

#final p{
   padding-top: 300px;
}